<h1>Edit Employee</h1>
<form action="/employees/{{employee.employee_id}}?_method=PUT" method="POST">
  Name:
  <input type="text" name="fname" id="fname" placeholder="{{employee.fname}}" value="{{employee.fname}}">
  <input type="text" name="lname" id="lname" placeholder="{{employee.lname}}" value="{{employee.lname}}">
  Role:
  <input type="text" name="roleID" id="roleID" placeholder="{{employee.role_id}}" value="{{employee.role_id}}">

  <input type="hidden" name="id" value={{employee.employee_id}}>
  <input type="submit" name="Update" value="Update" id="Update">
</form>
