<h1>Edit Employee</h1>
<form action="/employees" method="post">
    Name:
    <input type="text" name="fname" id="fname" placeholder="{{results.fname}}" value="{{results.fname}}">
	<input type="text" name="lname" id="lname" placeholder="{{results.lname}}" value="{{results.lname}}">
	<input type="text" name="roleID" id="roleID" placeholder="{{results.role_id}}" value="{{results.role_id}}">

    <input type="hidden" name="id" value={{results.employee_id}}>
    <input type="submit" name="Update" value="Update" id="Update">
</form>