<h1>Edit Order {{items.1.OrderNumber}}</h1>
<h2>Total Price: {{items.1.TotalPrice}}</h2>
<table>
    <thead>
        <th>Food Ordered</th>
        <th>Food Price</th>
    </thead>
  <tbody>
    {{#each items}}
    <tr>
      <td>{{FoodOrdered}}</td>
      <td>{{price}}</td>
      <td>
        <form action = "/orders/{{OrderNumber}}?_method=DELETE" method="POST">
          <input type="hidden" name="order_id" value="{{OrderNumber}}">
          <input type="hidden" name="food_id" value="{{food_id}}">
          <input type="submit" name="Delete" value="Delete Food">
        </form>
      </td>
    </td>
    </tr>
    {{/each}}
    <h3>Add Food To Order</h3>
    <form action = "/orders/{{items.1.OrderNumber}}?_method=PUT" method="POST">
      <input type="hidden" name="order_id" value="{{items.1.OrderNumber}}">
      Food: <select name="food_id">
        {{#each foods}}
        <option value="{{food_id}}">{{food}}</option>
        {{/each}}
      <input type="submit" name="Update" value="Add Food">
    </form>
  </tbody>
</table>
