<h1>Add A Customer</h1>
<form action="/customers" method="post">
  First Name: <input id="fname" type="text" name="fname"><br>
  Last Name: <input id="lname" type="text" name="lname"><br>
  <input type="submit" name="AddCustomer" value = "Add Customer">
</form>

<table>
	<thead>
		<th>Customer Name</th>
		<th>Order Number</th>
		<th>Total Price</th>
	</thead>
  <tbody>
  	{{#each customers}}
    <tr>
      <td>{{CustomerName}}</td>
      <td>{{OrderNumber}}</td>
      <td>{{TotalPrice}}</td>
      <td>
        <a href="/orders/{{customer_id}}">View Orders</a>
      </td>
      <td>
        <a href="/customers/{{customer_id}}/edit">Edit</a>
      </td>
      <td>
        <form action = "/customers/{{customer_id}}?_method=DELETE" method="POST">
          <input type="hidden" name="id" value="{{customer_id}}">
          <input type="submit" name="Delete" value="Delete">
        </form>
      </td>
  	</td>
    </tr>
    {{/each}}
  </tbody>
</table>
